@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
    @apply text-3xl font-bold my-2;
}
h2 {
    @apply text-2xl font-bold my-2;
}
h3 {
    @apply text-lg font-medium;
}
a {
    @apply text-blue-600 underline font-medium;
}

body{font-family: 'ヒラギノ角ゴ ProN W3', sans-serif !important;
}
